version: 2.1
executors:
  default:
    docker:
      - image: circleci/node:16.8.0
        environment:
          TZ: Asia/Tokyo
          working_directory: ~/repo
commands:
  restore_npm:
    steps:
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
            - v1-dependencies-
  save_npm:
    steps:
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package-lock.json" }}
jobs:
  test:
    executor:
      name: default
    steps:
      - checkout
      - restore_cache
      - run: npm install
      - save_npm
      - run: npm run test
  lint:
    executor:
      name: default
    steps:
      - checkout
      - restore_cache
      - run: npm install
      - save_npm
      - run: npm run lint
